<?xml version="1.0"?>
<!--
  ~ Copyright [2017] Illia Voinov <ilya.voinov@yahoo.com>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~
  -->

<config>
    <modules>
        <IV_NewProduct>
            <version>0.1.0</version>
        </IV_NewProduct>
    </modules>
    <global>
        <models>
            <newproduct>
                <class>IV_NewProduct_Model</class>
            </newproduct>
        </models>
        <helpers>
            <newproduct>
                <class>IV_NewProduct_Helper</class>
            </newproduct>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <update_new_products>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>newproduct/crontab_newProductsUpdater::execute</model>
                </run>
            </update_new_products>
        </jobs>
    </crontab>
</config>